<launch>

    <arg name="port" default="/dev/ttyACM0" />

    <!-- Start Lidar -->
    <!-- include file="$(find ouster_ros)/launch/lidar2_segment.launch" /-->
    <include file="$(find ouster_ros)/launch/lidar1_segment.launch"/>
    <!--
    <node pkg="ouster_ros" type="lidar_angle" name ="lidar_angle" respawn = "true">
        <remap from="lidar_angle/input_points" to="os1_node1/points"/>
    </node>
    -->
    
    <!-- Start Turtlebot -->
    <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
    <include file="$(find turtlebot_teleop)/launch/logitech.launch" />
    <!--include file="$(find turtlebot_teleop)/launch/keyboard_teleop.launch" /-->

    <!-- Transforms -->
    <node pkg="tf" type="static_transform_publisher" name="os1_broadcaster"
        args="0.01 0.0 0.52 0 0 0 1 base_link os1 5" />
    <node pkg="tf" type="static_transform_publisher" name="os1_imu_broadcaster"
        args="0 0 0 0 0 0 1 os1 os1_imu 100" />

    <!-- Use for external IMU only -->
    <!--
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" respawn="true">
        <param name="port" value="$(arg port)" />
    </node>
    <node pkg="tf" type="static_transform_publisher" name="arduino_imu_broadcaster"
        args="0.015 0 -0.12 0 0 0 1 os1 arduino_imu 50" />
    -->

</launch>
